 html { height: 100%; }
      
  
body{
            
color:#00AEEF;
            
border-style:solid;
            
       
}
    
 button{
           
color:#00AEEF;
           
border-radius:10px;
         
 position: absolute;
        
background-color: white;
           
          
           
           
        
   left:167px;
          
 top:100%;
      
 }
       
button:hover{
           
background:#00AEEF;
           
           
color:white;
       }
       
       
      
 #butt{
       
 width:200px;
       
 height:35px;
        
margin-top:-500px;
       
 margin-left:100px;
        
position:absolute;
      
 }
  
        
       
 .navigation-container{
         
        
 display:grid;
            
margin-left:5px;
            
margin-right:5px;
            
height:35px;
            
          
 grid-template-columns: 20% 20% 20% 20% 20%;
        
  width:100%
       
         
 }
        
.grid-item{
        
 border: 1px solid #00AEEF;
        
 border-collapse:collapse;
         
border-width:2px;
        
 vertical-align: middle;
        
 text-align: center;
       
  border-width: thin;
        
    
    }
        
        
.home-container
       
 {
        
 display:grid;
     
    grid-template-columns:50% 50%;
        
 
       
        
 height:1000px;
       
  width:100%;
        }
        
        
      
.team-container{
      
display:grid;
      
width:90%;
         
grid-template-columns:30% 30% 30%;
      
margin-top:20px;
       
margin-left:200px;
     
  margin-right: 80px;
       
margin-bottom:-200px;
       
   
    grid-column:1/3;
       
       
      

      }
        
       
 .circle{
        
      
 text-align: center;
       
       
 height:80px;
       
 width:100px;
       
 border-radius:50%;
     
   background-color:white;
    
   border:1px solid #00AEEF;
      
  margin-right:20px;
        
border-width:medium;
        
      
 }   
       
#a:hover{
 background-color:#00AEEF;
 
color:white;
}


#b:hover{
 background-color:#0000FF;
 
color:white;
}


#c:hover{
 background-color:#FF00FF ;
 
color:white;
}
 
      
       
.about-container{
        
margin-left:100px;
      
 margin-right: 80px;
       
display:grid;
      
 width:90%;
       
grid-template-columns:25% 25% 25% 25%;
      
 grid-column:1/3;
      
 }
       
      
 .mat{
       
 position:relative;
        
width:150px;
        
height:90px;
        
background:white;
        
border:1px solid #00AEEF ;
        
border-radius: 50%/10%;
        
color:white;
        
text-align:center;
        
text-indent:.1em;
        
margin-top:-70px;
        
margin-bottom: 100px;
       
 margin-right:15px;
        
border-width:medium;
       
}
       
        
     
     
 
#d:hover{
  
background-color:#00AEEF;
  
color:white;
 }    
 

 #e:hover{
 
 background-color:#00AEEF;
  
color:white;
 }
 
 
#f:hover{
 background-color:#00AEEF;}
 
#g:hover{
      background-color: #00AEEF;}
    
.contact-container{
      
 position:absolute;
       
 left:0;
       
 bottom:0;
       
 width:100%;
  
        
       
 text-align: center;
       
        
 border: 1px solid #00AEEF;
         
border-collapse:collapse;
         
     
  }
      
 .foot{
       
 font-size:25px;
       
 margin-bottom: -50px;
      
 }